@import '../../index.css';

.results {
  width: 100%;
  display: flex;
  flex-direction: column;

  border: solid;
  border-radius: 15px;
  border-color: var(--background-accent);
  padding: 10px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fetchResults {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 10px;
}

.fetchResults:hover {
  cursor: pointer;
  background-color: var(--background-accent);
  transition: 0.3s;
}

.checkItem {
  display: flex;
  flex-direction: row;
}
